h1 {
  color: rgb(154, 60, 71);
}

body {
  padding-top: 50px;
  background: url("https://images.unsplash.com/photo-1486728297118-82a07bc48a28?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b0474138b0a0e45debc7d14e7cb98b0&auto=format&fit=crop&w=1401&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#quote {
  font-size: 30px;
  font-family: "Just Me Again Down Here", cursive;
}

#author {
  font-family: "Josefin Slab", serif;
}

#cont {
  padding-top: 20px;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgb(235, 198, 198);
}

img {
  width: 50px;
  height: 50px;
}
